* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #fa6023;
  color: #000;
}

/**  HEADER **/

header {
  /* cursor: pointer; */
  /* display: flex;
  justify-content: space-evenly;    почему? */
  height: 150px;
  background: #fff;
}
.wrapper {
display: flex;
justify-content: space-between;
width: 80%;
margin: 0 auto ;
padding-top: 60px;
}

.header-logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin-left: 25px;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 5px solid #fa6023;
}

.nav-menu-icon {
  display: none;
}

/***   CONTENT   ***/

.main {
  display: flex;
  background-color: #fff;
  margin: 100px 0 100px 20%;
}

.main h1 {
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 0.07em;
  color: rgb(26, 19, 19);
  margin-top: 35px;
  margin-bottom: 30px;
}

.main-photo {
  margin: 35px;
  min-width: 360px;
}

.main-content {
  padding: 0;
}

.main-subtitle {
  font-size: 22px;
  margin-bottom: 15px;
  letter-spacing: 0.07em;
}

.main-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.main-btn {
  cursor: pointer;
  margin-top: 18px;
  font-size: 25px;
  padding: 15px;
  background: #fa6023;
  border: none;
  color: #fff;
  box-shadow: 0 0 40px 40px #fa6023 inset, 0 0 0 0 #fa6023;
  transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.main-btn:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 10px 0 #fa6023 inset, 0 0 10px 4px #fa6023;
}

.about {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.list-items {
  padding-top: 15px;
}
.skills {
  background: #fff;
  padding-bottom: 100px;
}
.skills-section {
  flex-direction: column;
  align-items: center;
}

.skills-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.skills-title {
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 50px;
}

.skills-list li{
  font-size: 18px;
  line-height: 45px;
}

.scills-collum p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.07em;
  margin-bottom: 20px;
  height: 32px;
  display: flex;
  align-items: center;
}

.scills-collum p svg {
  padding-right: 7px;
  width: auto;
  max-width: 32px;
  height: 32px;
}

/***   FOOTER ***/

.footer-social svg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.footer-social h3 {
  text-transform: uppercase;
  font-size: 26px;
}

.footer-social a  {
text-decoration: none;
color: #000;
font-weight: bold;
}

.footer-social li {
  list-style: none;
  font-size: 18px;
  line-height: 45px;
  display: flex;
  align-items: center;
}

.footer-nav li{
 list-style: none;
font-weight: bold;
font-size: 18px;
line-height: 45px;
}

.copyright {
  font-weight: bold;
}

/***   FORMS ***/

.decor {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  background: white;
  border-radius: 30px;
}

.form-left-decoration, .form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #fa6023;
  border-radius: 20px;
}

.form-left-decoration {
  bottom: 60px;
  left: -30px;
}

.form-right-decoration {
  top: 60px;
  right: -30px;
}

.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}

.form-left-decoration:before {
  top: -20px;
}

.form-left-decoration:after {
  top: 20px;
  left: 10px;
}

.form-right-decoration:before {
  top: -20px;
  right: 0;
}

.form-right-decoration:after {
  top: 20px;
  right: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}

.form-inner {
  padding: 50px;
}

.form-inner input, .form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.form-inner input[type="submit"] {
  margin-top: 30px;
  background:  #fa6023;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}
.form-inner input[type="submit"]:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 10px 0 #fa6023 inset, 0 0 10px 4px #fa6023;
}

.form-inner textarea {
  resize: none;
}

.form-inner h3 {
  display: flex;
 justify-content: center;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}

/*** Contacts ***/

.contacts-column {
  margin-top: 50px;
  background: #fff;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.contacts-column a {
  display: flex;
  align-items: center;
}

.contacts-column svg {
  padding: 15px;
  width: 90px;
  height: 90px;
}

.contacts-column a {
    padding: 20px 10px;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}